*{
    margin: 0px;
    padding: 0px;
}
.pagina{
    background-color: #a9d7d1;
    font-family: 'Raleway', Helvetica, sans-serif;
}

.pagina__conteudo-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario{
    background-color: white;
    border: 5px solid white;
    border-radius: 5px;
    width: 75%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: center;
}

.formulario__titulo{
    margin: 1em 0px;
}

.formulario__titulo-secundario{
    margin: 1em 0px;
}

.formulario__linha{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-top: 10px;
}

.formulario__input{
    margin-left: 10px;
}

.formulario__campo-input{
    border-radius: 2px;
    width: 280px;
    height: 20px;
    padding: 5px;
    border: 1px solid #c0c0c0;
}

.formulario__campo-textarea{
    border-radius: 2px;
    width: 280px;
    height: 48px;
    padding: 5px;
    border: 1px solid #c0c0c0;
}

.formulario__campo-select{
    border-radius: 5px;
    height: 32px;
    width: 140px;
    padding: 5px;
    border: 1px solid #c0c0c0;
}

.formulario__label{
    text-align: right;
    margin-top: 10px;
}

.formulario__bloco-checkbox-radio-textarea{
    list-style: none;
    margin-top: 10px;
}

.bloco-checkbox-radio-linha{
    padding-bottom: 10px; 
}

.campo-radio{
    margin-right: 5px;
}

.botao{
    background-color: #59ace0;
    height: 40px;
    width: 96px;
    font-size: 1em;
    color: white;
    border: 0px solid;
    border-radius: 2px;
    margin: 10px; 
}

@media screen and (max-width: 550px){
    .formulario__linha{
        display: flex;
        flex-direction: column;
    }
    .formulario__label{
        text-align: left;
    }
    .formulario__input{
        margin-top: 10px;
        margin-left: 0px;
    }
    .formulario__campo-input{
        width: 94%;
    }
    .formulario__campo-textarea{
        width: 94%;
    }
    .formulario__titulo-secundario{
        text-align: center;
    }
}