*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    background: #e0ebe8;
}
.conteudo__apresentacao{
    height: 55vh;
    padding-top: 45vh;
    background: #e0ebe8;
    text-align: center;
}

.conteudo__contato{
    background: #C8F7C5;
    padding-bottom: 160px;
    text-align: center;
    padding-top: 60px;
}

.conteudo__portifolio{
    padding-top: 50px;
    color: #008080;
    text-align: center;
    background-color: white;
    padding-bottom: 40px;
}

.conteudo__portifolio-item{
    text-decoration: none;
    color: #008080;
    display: inline-block;
    overflow: hidden;
    border: 2px solid lightblue;
    height: 220px;
    width: 280px;
    margin: 40px 100px;
}

.conteudo__portifolio-imagem{
    width: 100%;
    height: 180px;
    border-bottom: 2px solid 
}

.conteudo__portifolio-mostra-tudo{
    text-decoration: none;
    display: block;
    width: 200px;
    height: 30px;
    margin: 20px auto 90px;
    background: #e0ebe8;
    color: #008080;
    font-weight: bold;
    font-size: 1em;
    border: 2px solid #90C695;
    border-radius: 4px;
    cursor: pointer;
    padding-top: 10px;
}

.footer{
    background: #22313F;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer__link{
    text-decoration: none;
    color: white;
}

.contato__link{
    display: inline-block;
    font-weight: bold;
    margin: 0 35px 45px 35px;
    list-style-type: none;
    border: 2px solid #90C695;
    border-radius: 100%;
    width: 100px;
    line-height: 100px;
    background: #e0ebe8;
    color: #008080;
    text-decoration: none;
}

.contato__cabecalho{
    text-align: center;
}

.conteudo__contato_espacamento-top{
    margin-top: 56px;
}

.barra-de-navegacao{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    background: #e0ebe8;
}

.barra-de-navegacao__link{
    display: inline-block;
    margin: 55px;
    margin-bottom: 15px;
    margin-top: 25px;
}

.barra-de-navegacao__link_texto{
    text-decoration: none;
    color: #008080;
}

.u-padding-direita-media{
    padding-right: 16px;
}

@media screen and (max-width: 550px){
    .conteudo__portifolio-item{
        margin: 40px 0;
    }
    .barra-de-navegacao__link{
        margin: 20px;
    }
}