*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: #eee;
}
.cabecalho{
    right: 0;
    left: 0;
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
}

.cabecalho__logo-imagem{
    height: 100%;
    width: 100%;
    max-width: 300px;
}

.barra-de-navegacao{
    width: 35vw;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.barra-de-navegacao__itens{
    color: #000;
    text-decoration: none;
}
.formulario{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.formulario__titulo{
    margin-bottom: 20px;
}

.formulario__inputs{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.formulario__input-email{
    width: 100%;
    max-width: 275px;
    padding: 5px;
    margin-bottom: 10px;
}

.formulario__input-botao{
    max-width: 150px;
    width: 100%;
    height: 30px;
    border: 0;
    background-color: #f1c40f;
    cursor: pointer;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
}

.container{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.conteudo-principal__linha{
    display: flex;
    width: 100%;
}

.conteudo-principal__linha--texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}

.conteudo-principal__linha--icone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    color:darkorange;
}

.conteudo-principal__video{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.conteudo-principal__box-preco{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box-preco{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}

.box-preco__cabecalho{
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}

.box-preco__preco{
    margin-top:15px;
    margin-bottom: 15px;
}

.box-preco__item{
    padding: 5px 0;
}

.box-preco__botao{
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    text-transform: uppercase;
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
    border-radius: 2px;
}

.lista__link{
    padding: 0 10px;
    list-style: none;
}

.footer{
    margin-top: 30px;
    padding: 20px;
    background-color: #ddd;
}

.footer__lista{
    display: flex;
    justify-content: flex-end;
}

.footer__direito{
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
}

@media screen and (max-width: 550px){
    .cabecalho{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
    }

    .barra-de-navegacao{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .nav-link{
        margin-bottom: 5px;
    }

    .formulario{
        margin-top: 140px;
    }

    .conteudo-principal__linha{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .conteudo-principal__linha--icone{
        display: none;
    }

    .box-preco{
        width: 80%;
    }
}
