body{
    font-family: 'Open Sans',Arial,sans-serif;
    line-height: 1.5;
    color: #4d4e53;
}
.menu-lateral{
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 300px;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4)
}

.menu-lateral__bloco-de-links{
    display: flex;
    flex-direction: column;
}

.menu-lateral__titulo{
    text-align: center;
    color: #000;
    font-size: 1.8em;
}
.menu-lateral__links{
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #000;
    text-decoration: none;
    font-size: 14px;
    color:  #4d4e53;
}
.conteudo{
    margin-left: 310px;
    padding: 20px;
}
.conteudo__principal-titulo{
    color: #000;
    font-weight: 500;
    font-size: 1.8em;
}

.conteudo__principal-item-lista{
    margin-top: 1em;
    margin-left: 1em;
}

.conteudo__bloco-de-codigo{
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

@media screen and (max-width: 850px){
    .corpo-mobile{
        display: flex;
        flex-direction: column;
    }

    .menu-lateral{
        background-color: white;
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 260px;
        border: none;
        z-index: 1;
        border-bottom: 2px solid;
    }

    .menu-lateral__bloco-de-links{
        overflow-y: auto;
        overflow-x: hidden;
        height: 207px;
    }
    .menu-lateral__links{
        height: 88%;
    }

    .conteudo{
        margin-top: 240px;
        margin-left: 0px;
    }

}