*{
    margin: 0px;
    padding: 0px;
}
html{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.pagina{
    background-color: #eee;
    padding: 10px;
}

.bloco-imagem{
    background-color: #fff;
    border: 5px solid white;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column
}
.bloco-imagem__imagem{
    max-width: 100%;
    margin:auto;
}

.bloco-imagem__legenda{
    text-align: center;
    margin: 16px 0px;
}

.bloco-texto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lista_de_texto{
    max-width: 550px;
    text-align: left;
}

.lista_de_texto__textos{
    margin: 10px;
}

.lista_texto__ano{
    font-weight: 700;
}

.lista_texto__citacao{
    font-style: italic;
    text-align: center;
}

.texto-titulo{
    text-align: center;
}